Api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config5" doc:name="HTTP Listener config" doc:id="ea1de30a-9eff-48d2-854e-e08e7d5c048d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="d377d73c-95b7-4356-af90-dbbee75d406b" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="apiFlow" doc:id="fb6d623b-5b6f-4ab8-967e-a26f94913555" >
		<http:listener doc:name="Listener" doc:id="31abd063-509e-4ad2-a1f5-dd0e36292b57" path="/api/v1/sps/customers" config-ref="HTTP_Listener_config5"/>
		<db:select doc:name="Select" doc:id="90b00f8b-d4e3-4ebe-962a-e27122dc8987" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT *
FROM customers;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="63044a41-ee48-42d3-8132-15102c835136" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="cb3e9b44-7d4c-4653-a2c9-cba3f53664f3" message='#[output application/java&#10;---&#10;"Username: " ++ Mule::p("secure::example.username")&#10;++ " - " ++&#10;"Password: " ++ Mule::p("secure::example.password")]'/>
	</flow>
</mule>
